
.font1
{
    font-family: 'Crafty Girls', cursive;
}

.font2
{
    font-family: 'Gochi Hand', cursive;
}

.font3
{
    font-family: 'Patrick Hand SC', cursive;
}

.font4
{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.font5
{
    font-family: Verdana, Geneva, sans-serif;
}